body {
    margin: 0;
    padding: 0;
  }

  .legend {
    opacity:1 ;
  }

  .button-blue {
    background-color: #040dd6 ;
    color: #fff;
  }

  .button-blue:hover {
    color: #fff;
  }

  .button-blue:focus {
    color: #fff;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .logoa {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    margin-left: 25px;
    margin-top: 20px;
    z-index: 1000;
    overflow-y: auto;
    transition: 0.5s;
  }

  .logoa:hover{
    opacity: 1;
    transition: 0.5s;
}

  .control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.85;
    margin-right: 10px;
    margin-bottom: 25px;
    z-index: 1000;
    max-width: 350px;
    max-height: 550px;
    overflow-y: auto;
    border-top: 3px solid #040dd6;
    border-bottom: 3px solid #040dd6;
    background-color: #f8f8f8;
  }

  .control-panel h4 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .control-panel p {
    margin-bottom: .5rem;
  }

  .control-panel input[type=number] {
    width: 48%;
  }

  .control-panel label {
    font-weight: inherit;
    margin-bottom: 1rem;
  }
  .info-panel label {
    font-weight: inherit;
    margin-bottom: 1rem;
  }

  .control-panel select {
    margin-bottom: 1rem;
  }

  @media (max-width: 550px),
  (max-height: 550px) {
    .control-panel {
      max-height: 200px;
      margin-right: 0;
      margin-bottom: 16px;
    }

    .control-panel h4 {
      font-size: 2.4rem !important;
    }
  }

  @media (max-width: 550px) {
    .control-panel {
      max-width: 100%;
      width: 100%;
    }
  }

input[type=range] {
-webkit-appearance: none;
margin: 20px 0;
width: 320px;
max-width: 320px;
}

input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 320px;
height: 4px;
cursor: pointer;
background: #040dd6;
border-radius: 25px;
}
input[type=range]::-moz-range-track{
  width: 320px;
  height: 4px;
  cursor: pointer;
  background: #040dd6;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
height: 20px;
width: 20px;
border-radius: 50%;
background: #fff;
box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
cursor: pointer;
-webkit-appearance: none;
margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #040dd6;
}
.range-wrap{
width: 320px;
position: relative;
}
.range-value{
position: absolute;
top: -50%;
}

@-moz-document url-prefix(){
  .range-value{
    position: absolute;
    top: -20%;
    }
}
.range-value span{
width: 30px;
height: 24px;
line-height: 24px;
text-align: center;
background: #040dd6;
color: #fff;
font-size: 12px;
display: block;
position: absolute;
left: 50%;
transform: translate(-50%, 0);
border-radius: 6px;
}
.range-value span:before{
content: "";
position: absolute;
width: 0;
height: 0;
border-top: 10px solid #040dd6;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 100%;
left: 50%;
margin-left: -5px;
margin-top: -1px;
}


/*  */

.container2{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1000;
}

.container2 .card{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 1000;

}

.container2 .card .face{
    width: 350px;
    height: 50px;
    transition: 0.5s;
}

.container2 .card .face.face1{
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    transform: translateY(25px);
}

.container2 .card:hover .face.face1{
    background: #040dd6;
    transform: translateY(0);
}

.container2 .card .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}

.container2 .card:hover .face.face1 .content{
    opacity: 1;
}


.container2 .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container2 .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-25px);
    opacity: 0.5;
}

.container2 .card:hover .face.face2{
    transform: translateY(0);
    opacity: 1;
}

.container2 .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container2 .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container2 .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}